.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 40px;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

@media screen and (max-width: 720px) {
    .header {
        padding: 10px;
    }
}

.ham-icon {
    font-size: x-large;
    margin: 5px;
    font-weight: 1000;

}

.header>span:last-child {
    font-size: medium;
    color: white;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    padding: 8px;
    margin: 0 5px 0 0;
}

.vstock-logo {
    font-size: xx-large;
    letter-spacing: 2px;
}

input[type='text'], textarea, select, input[type='file'] {
    font-family: "Ubuntu";
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    font-weight: 800;
    width: 100%;
    height: 50px;
    border: none;
    color: #000000;
    /* position: relative; */
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
    background-color: white;
    margin: 10px 0;
    outline: none;
    transition: all 0.8s;
    
}
input[type='text']:hover{
    border: none;
    outline: none;
    transform: scale(1.02);
}

.search {
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .search{
        display: flex;
        flex-direction: column;
    }
    .search > button {
        margin: 20px;
    }
}

.search > button {
    padding: 10px 40px;
}

.model-overlay-categories{
    display: flex;
    flex-wrap: wrap;
}
.model-overlay-categories > Checkbox {
    margin: 20px;
}


.footer {
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    margin-top: 20px;
}

